In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [2]:
data=pd.read_csv("C:/M.sc Data Science clg/DS SEM 2/Python Assignments/fifa19.csv")
data.head()

,Unnamed: 0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,0,158023,L. Messi,31.0,https://cdn.sofifa.org/players/4/19/158023.png,Argentina,https://cdn.sofifa.org/flags/52.png,94.0,94,FC Barcelona,...,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0,�226.5M
1,1,20801,Cristiano Ronaldo,33.0,https://cdn.sofifa.org/players/4/19/20801.png,Portugal,https://cdn.sofifa.org/flags/38.png,94.0,94,Juventus,...,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0,�127.1M
2,2,190871,Neymar Jr,26.0,https://cdn.sofifa.org/players/4/19/190871.png,Brazil,https://cdn.sofifa.org/flags/54.png,92.0,93,Paris Saint-Germain,...,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0,�228.1M
3,3,193080,De Gea,27.0,https://cdn.sofifa.org/players/4/19/193080.png,Spain,https://cdn.sofifa.org/flags/45.png,91.0,93,Manchester United,...,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0,�138.6M
4,4,192985,K. De Bruyne,27.0,https://cdn.sofifa.org/players/4/19/192985.png,Belgium,https://cdn.sofifa.org/flags/7.png,91.0,92,Manchester City,...,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0,�196.4M

In [3]:
data['Value'].value_counts()

�1.1M     431
�375K     372
�425K     354
�325K     351
�450K     343
         ...
�53M        1
�38.5M      1
�43M        1
�78M        1
�44.5M      1
Name: Value, Length: 217, dtype: int64

In [4]:
data = data.drop('Unnamed: 0', axis=1)
data.head()

,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,Club Logo,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,158023,L. Messi,31.0,https://cdn.sofifa.org/players/4/19/158023.png,Argentina,https://cdn.sofifa.org/flags/52.png,94.0,94,FC Barcelona,https://cdn.sofifa.org/teams/2/light/241.png,...,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0,�226.5M
1,20801,Cristiano Ronaldo,33.0,https://cdn.sofifa.org/players/4/19/20801.png,Portugal,https://cdn.sofifa.org/flags/38.png,94.0,94,Juventus,https://cdn.sofifa.org/teams/2/light/45.png,...,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0,�127.1M
2,190871,Neymar Jr,26.0,https://cdn.sofifa.org/players/4/19/190871.png,Brazil,https://cdn.sofifa.org/flags/54.png,92.0,93,Paris Saint-Germain,https://cdn.sofifa.org/teams/2/light/73.png,...,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0,�228.1M
3,193080,De Gea,27.0,https://cdn.sofifa.org/players/4/19/193080.png,Spain,https://cdn.sofifa.org/flags/45.png,91.0,93,Manchester United,https://cdn.sofifa.org/teams/2/light/11.png,...,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0,�138.6M
4,192985,K. De Bruyne,27.0,https://cdn.sofifa.org/players/4/19/192985.png,Belgium,https://cdn.sofifa.org/flags/7.png,91.0,92,Manchester City,https://cdn.sofifa.org/teams/2/light/10.png,...,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0,�196.4M

In [5]:
# 1.Display columns containing null values and perform data imputations.

In [6]:
data.dtypes

ID                  int64
Name               object
Age               float64
Photo              object
Nationality        object
                   ...
GKHandling        float64
GKKicking         float64
GKPositioning     float64
GKReflexes        float64
Release Clause     object
Length: 88, dtype: object

In [7]:
data.isnull().sum()

ID                   0
Name                 0
Age                  1
Photo                0
Nationality          0
                  ...
GKHandling          48
GKKicking           48
GKPositioning       48
GKReflexes          48
Release Clause    1564
Length: 88, dtype: int64

In [8]:
data['Age'].fillna(value=data['Age'].mode()[0],inplace=True)

In [9]:
data.isnull().sum()

ID                   0
Name                 0
Age                  0
Photo                0
Nationality          0
                  ...
GKHandling          48
GKKicking           48
GKPositioning       48
GKReflexes          48
Release Clause    1564
Length: 88, dtype: int64

In [11]:


# Display the columns containing null values
print(data.isnull().sum())

# Perform data imputation for the 'Release Clause' column using the mean value
#mean_value = data['Release Clause'].mean()
data['Release Clause'].fillna(value=data['Release Clause'].mean()[0],inplace=True)

# Perform data imputation for the 'Loaned From' column using the mode value
#mode_value = data['Loaned From'].mode()[0]
data['Loaned From'].fillna(value=data['Loaned From'].mode()[0],inplace=True)

# Display the columns containing null values after imputation
print(data.isnull().sum())

ID                   0
Name                 0
Age                  0
Photo                0
Nationality          0
                  ...
GKHandling          48
GKKicking           48
GKPositioning       48
GKReflexes          48
Release Clause    1564
Length: 88, dtype: int64

TypeError: can only concatenate str (not "int") to str

# 2.	Plot graph depicting 10 Most Common Nationalities.

In [ ]:


# Get the count of players by nationality
nationalities = df1['Nationality'].value_counts().head(10)

# Plot the bar graph
plt.bar(nationalities.index, nationalities.values)

# Add title and axis labels
plt.title('10 Most Common Nationalities in FIFA19')
plt.xlabel('Nationality')
plt.ylabel('Number of Players')

# Rotate the x-axis labels for better readability
plt.xticks(rotation=45)

# Show the graph
plt.show()

In [ ]:
# Histogram

In [ ]:
plt.hist(data['Age'])
plt.xlabel('Players Age')
plt.ylabel('Number of players')
plt.show()

oldest=data.loc[data['Age'].idxmax()]
print("The oldest player in FIFA 19 is", data['Age'].max(), "years old. His name is", oldest['Name'], 
      'he is from',oldest['Nationality'],'and plays for',oldest['Club'],'.')
print('The median age of a player on FIFA 19 is', np.mean(data['Age']))
youngest = data.loc[data['Age'].idxmin()]
print('The youngest players is',data['Age'].min(), "years old. His name is", youngest['Name'], 
      'he is from',youngest['Nationality'],'and plays for',youngest['Club'],'.')

In [ ]:
# Print the List of players who has “Potential” Greater Than 90.

In [ ]:
plt.hist(data['Potential'])
plt.xlabel('Players Potential')
plt.ylabel('Number of players')
plt.show()
bestp = data.loc[data['Potential'].idxmax()]
print("The best potential player in FIFA 19 is", data['Potential'].max(), "overall. His name is", bestp['Name'], 
      'he is from',bestp['Nationality'],'and plays for',bestp['Club'],'.')
print('The median potential rating of a player on FIFA 19 is', np.mean(data['Potential']))
worstp = data.loc[data['Potential'].idxmin()]
print('The worst potential player is',data['Potential'].min(), "overall. His name is", worstp['Name'], 
      'he is from',worstp['Nationality'],'and plays for',worstp['Club'],'.')

# 3.	Print the List of players who has “Potential” Greater Than 90.

In [ ]:
# Filter the data for players with Potential greater than 90
potential_90 = data[data['Potential'] > 90]

# Select the columns you want to display in the list
columns = ['Name', 'Club', 'Nationality', 'Overall', 'Potential']

# Display the list of players with Potential greater than 90
print(potential_90[columns])

In [ ]:
# regplot

In [ ]:
import seaborn as sns
plt.figure(figsize=(20, 15))
sns.regplot(data['Age'] , data['Overall'])
plt.title('Age vs Overall rating')
plt.show()

In [ ]:
#Creating Dateframe with playars above 88 overall
df1 = data.query("Overall>=90")
df1.head()

In [ ]:
plt.hist(df1.Age)
plt.xlabel('Age')
plt.ylabel('Number df players')
plt.title('Number of Players with Rating greater than 90')

In [ ]:
# now here we remove sign from coulmn for changing datatypes

In [ ]:
df1['Wage'].value_counts()

In [ ]:
#Getting rid of all the elements that makes difficult to convert the different columns datatypes
df1['Value'] = df1['Value'].astype(str).str.replace('�', '')
df1['Value'] = df1['Value'].astype(str).str.replace('K', '000')
df1['Value'] = df1['Value'].astype(str).str.replace('M', '')
df1['Wage'] = df1['Wage'].astype(str).str.replace('�', '')
df1['Wage'] = df1['Wage'].astype(str).str.replace('K', '')

In [ ]:
# Changing the datatypes of the selected columns
df1.Value = df1.Value.astype('int')
df1.Wage = df1.Wage.astype('int')
df1.Name = df1.Name.astype('category')

In [ ]:
plt.figure(figsize=(10, 10))
df2 = df1.sort_values(['Value'])
sns.barplot(x = "Name" , y  = 'Value', data = df2 ,order = df2['Name'], 
             palette = 'rocket')
plt.title("Value of players (In millions)")
plt.xticks(rotation = 90)

# Display pie chart of “Nationality and number of players”.

In [ ]:

# Get the count of players by nationality
nationalities = df1['Nationality'].value_counts().head(10)

# Plot the pie chart
plt.pie(nationalities.values, labels=nationalities.index, autopct='%1.1f%%')

# Add title
plt.title('Nationality and Number of Players in FIFA19')

# Show the graph
plt.show()

# 2.	Display list of players whose contract expires last.

In [ ]:


# Sort the data by contract expiration date
sorted_df = df1.sort_values('Contract Valid Until', ascending=False)

# Select the columns you want to display in the list
columns = ['Name', 'Club', 'Nationality', 'Contract Valid Until']

# Display the list of players with the latest contract expiration date
print(sorted_df[columns].head(10))

# 3.	Plot graph depicting potential vs wage for Manchester United Club.

In [ ]:

# Select the data for Manchester United club
man_utd = df1[df1['Club'] == 'Manchester United']

# Create the scatter plot of Potential vs Wage
plt.scatter(man_utd['Potential'], man_utd['Wage'])

# Add title and axis labels
plt.title('Potential vs Wage for Manchester United Club in FIFA19')
plt.xlabel('Potential')
plt.ylabel('Wage')

# Show the graph
plt.show()