In [1]:
import re
import pandas as pd
import numpy as np

In [2]:

text="""wati satpute,"Assistnt Professor", Fergusson College, 91-9822414323
Yash mehta, "Software Engineer", Ellicuium, 44-827743243"""

In [3]:
data=pd.DataFrame(columns=['name','esignation','organization','countrycode','phone'])

for i,line in enumerate(text.split('\n')):
    name,designation,organization,phone=re.split(',',line)
    designation=designation.strip().strip('"')
    countrycode,phone=phone.split('-')
    data.loc[i]=[name,designation,organization,countrycode,phone]
    pass

In [4]:
data.head()

,name,esignation,organization,countrycode,phone
0,wati satpute,Assistnt Professor,Fergusson College,91,9822414323
1,Yash mehta,Software Engineer,Ellicuium,44,827743243

In [5]:
import re
import numpy as np
import pandas as pd

In [6]:
text="""wati satpute,"Assistnt Professor", Fergusson College, 91-9822414323
Yash mehta, "Software Engineer", Ellicuium, 44-827743243"""

In [7]:
text

'wati satpute,"Assistnt Professor", Fergusson College, 91-9822414323\nYash mehta, "Software Engineer", Ellicuium, 44-827743243'

In [11]:
data=pd.DataFrame(columns=['name','designation','organization','country_code','phone'])
for i,line in enumerate(text.split('\n')):
    name,designation,organization,phone=re.split(',',line)
    designation=designation.strip().strip('"')
    countrycode,phone=phone.split('-')
    data.iloc[i]=[name,designation,organization,countrycode,phone]
    pass

IndexError: iloc cannot enlarge its target object